<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

    <div id="app">

        <div>
            <img class ="product-image" v-bind:src="image" />
        </div>

        <div class ="product-info">
            <h3>{{product}}</h3>
            <h4 v-if="inStock">In Stock</h4>
            <h4 v-else="inStock">Out of Stock</h4>
        </div>

        <ul>
            <li v-for="detail in details">{{detail}}</li>
        </ul>

        <div v-for="variant in variants" v-bind:key="variant.variantId">
            <p>{{variant.variantColor}}</p>
        </div>
        
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
    
</body>
</html>
